<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://prmergelistener.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/3d653b19-234f-4dc6-8a7c-3e765120a02b/resourcegroups/rg-webhooks/providers/Microsoft.Web/sites/PrMergeListener</ResourceId>
    <UserName>$PrMergeListener</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://prmergelistener.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>