################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebHooks/.vs/WebHooks/v15/Server/sqlite3
